html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @include dark {
    color-scheme: dark;
    color: white;
    background: black;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$breakpoints: (
  mobile-s: 320px,
  mobile: 480px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1400px,
);

$spacings: (
  mini: 4px,
  small: 8px,
  medium_1: 16px,
  medium_2: 24px,
  medium_3: 32px,
  large_1: 40px,
  large_2: 48px,
);

@function breakpoint($device) {
  @return map-get($breakpoints, $device);
}

@function spacing($spacing) {
  @return map-get($spacings, $spacing);
}

:root {
  --black: black;
  --white: white;
  --palette-red-600: #c6002b;
  --palette-red-500: #cd212e;
  --palette-red-400: #e22c3a;
  --palette-red-300: #f4747c;
  --palette-red-200: #f79096;
  --palette-red-100: #f4adb1;
  --palette-blue-600: #0055b7;
  --palette-blue-500: #509da7;
  --palette-blue-400: #30bac6;
  --palette-blue-300: #68c8d5;
  --palette-blue-200: #84dae5;
  --palette-blue-100: #a3e2eb;
  --palette-grey-600: #27292d;
  --palette-grey-500: #3f4447;
  --palette-grey-400: #717277;
  --palette-grey-300: #a9afb2;
  --palette-grey-200: #e6eaed;
  --palette-grey-100: #f6f8f9;
}
